*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  background-color: #f1f5f9;
  max-width: 100vw;
  margin: 0 auto;
}

.container {
  max-width: 122rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.logo {
  font-size: 3.5rem;
  font-weight: 600;
}
.logo a {
  color: #FFF;
}
.logo a span {
  vertical-align: middle;
}
.logo a span:first-child {
  font-size: 3rem;
  display: inline-block;
  font-weight: 400;
  color: #ca3e64;
  background-color: #FFF;
  padding: 0 0.8rem;
  margin-right: 0.3rem;
}

.social-item {
  font-size: 2rem;
  opacity: 0.6;
  margin-left: 2rem;
  transition: opacity 0.2s linear;
}
.social-item:hover {
  opacity: 1;
  cursor: pointer;
}
.social-item--active {
  opacity: 1;
}

.button button {
  display: block;
  margin: 0 auto;
  padding: 2.4rem 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  border-radius: 35px;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  color: #FFF;
}

.to-header {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 100;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 164, 0, 0.6);
  color: #FFF;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.to-header i {
  font-size: 2rem;
}
.to-header:hover {
  background-color: #ffa400;
}

.header {
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  color: #FFF;
  position: relative;
}
.header__icon {
  display: none;
}
.header #bar-icon {
  display: none;
}
.header__overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}
.header__top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.header__date {
  font-size: 1.6rem;
  font-weight: 500;
}
.header__bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__nav-item {
  margin-left: 11rem;
}
.header__nav-link {
  color: #FFF;
  font-weight: 400;
  font-size: 1.8rem;
  position: relative;
}
.header__nav-link:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2.4px;
  background-color: #FFF;
  transition: width 0.3s ease-in-out;
}
.header__nav-link:hover:before {
  width: 100%;
}

.banner {
  position: relative;
  color: #000;
  top: 0;
  margin-bottom: 20rem;
}
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top left, #6c0ddf, #ca3e64);
  mix-blend-mode: overlay;
  z-index: 1;
}
.banner__img {
  overflow: hidden;
}
.banner__img img {
  transform: scale(1.2);
}
.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: "Heebo", sans-serif;
  text-align: center;
  user-select: none;
}
.banner__title {
  font-size: 24rem;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.15;
}
.banner__main-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8.5rem;
  font-weight: 700;
}
.banner__main-title p {
  font-size: 6rem;
  margin-top: 3rem;
}
.banner__symbol {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  padding: 4rem 3rem 2rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.banner__symbol h2 {
  font-size: 9rem;
  font-weight: 600;
  color: transparent;
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner__symbol i {
  font-size: 2rem;
  color: #6c0ddf;
}
.banner__symbol i:first-child {
  color: #ca3e64;
}
.banner__button {
  position: absolute;
  left: 50%;
  bottom: -6rem;
  transform: translateX(-50%);
  background-image: linear-gradient(to right bottom, #6c0ddf, #ca3e64);
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.banner__button i {
  color: #FFF;
  font-size: 4rem;
}

.category {
  padding-bottom: 13rem;
  position: relative;
  z-index: 2;
}
.category__title {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0 auto 5rem;
  padding-bottom: 1rem;
  color: transparent;
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.category__hidden {
  position: absolute;
  right: -18rem;
  top: 50%;
  font-size: 18rem;
  font-weight: 600;
  transform: rotate(90deg);
  z-index: -1;
  opacity: 0.1;
  color: transparent;
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Heebo", sans-serif;
  user-select: none;
}
.category__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 6rem;
}
.category__item {
  font-size: 2rem;
  font-weight: 500;
  color: #303681;
  position: relative;
}
.category__item:hover, .category__item--active {
  color: #5c28a7;
  cursor: pointer;
}
.category__item:before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #5c28a7;
  transition: width 0.3s ease-in-out;
}
.category__item:hover:before {
  width: 3rem;
}
.category__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 5rem;
}
.category__card {
  color: #303681;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  transform: translateY(20%);
  opacity: 0;
  transition: all 1s linear;
}
.category__card-img {
  height: 40rem;
  overflow: hidden;
  border-radius: inherit;
}
.category__card-img img {
  height: 100%;
}
.category__card-content {
  padding: 5rem 3rem 4rem 4rem;
  line-height: 1.5;
}
.category__card-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-transform: capitalize;
}
.category__card-desc {
  font-size: 1.5rem;
  color: #888;
  margin-bottom: 6rem;
}
.category__card-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.category__card .author__name {
  font-weight: 600;
  margin-right: 3rem;
}
.category__card .author__name i {
  font-size: 2rem;
  margin-right: 1rem;
}
.category.active .category__card {
  transform: translateY(0);
  opacity: 1;
}

.destination {
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  padding: 12.5rem 0;
  font-weight: 600;
  color: #FFF;
  position: relative;
}
.destination__hidden {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.05;
  font-size: 20rem;
  z-index: 1;
  user-select: none;
  font-family: "Heebo", sans-serif;
  line-height: 0.8;
}
.destination__title {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 7rem;
  position: relative;
  z-index: 2;
  transform: translateY(-20%);
  opacity: 0;
  transition: all 1s linear;
}
.destination__item {
  margin: 0 1.5rem;
  background-color: rgba(156, 71, 205, 0.4);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.destination__img {
  max-width: 57rem;
}
.destination__name {
  font-size: 2rem;
  font-weight: 500;
  padding: 5rem 0 4rem;
  text-align: center;
}
.destination__slider {
  transform: translateY(20%);
  opacity: 0;
  transition: all 1s linear;
}
.destination .slider-btn {
  padding: 1.2rem 2.5rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.destination .slider-btn i {
  font-size: 2.5rem;
  color: #FFF;
}
.destination .slider-next {
  right: 2rem;
}
.destination .slider-prev {
  left: 2rem;
}
.destination .slider-dots {
  margin-top: 5rem;
  position: relative;
  z-index: 2;
}
.destination .glider-dot {
  background-color: #a89cc8;
}
.destination .glider-dot.active {
  background-color: #fff;
}
.destination.active .destination__title,
.destination.active .destination__slider {
  opacity: 1;
  transform: translateY(0);
}

.trip {
  padding: 13rem 0;
  color: #303681;
}
.trip__inner {
  position: relative;
}
.trip__hidden {
  position: absolute;
  font-size: 24rem;
  font-weight: 600;
  color: transparent;
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.15;
  bottom: 0;
  left: 0;
  transform: rotate(-90deg) translate(34%, -100%);
  z-index: 1;
}
.trip__title {
  font-size: 4.5rem;
  font-weight: 600;
  color: transparent;
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin-bottom: 7rem;
  opacity: 0;
  transition: all 0.8s linear;
}
.trip__body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.trip__bar {
  max-width: 37rem;
  background-color: #FFF;
  border-radius: 25px;
  padding: 5rem 0;
  position: relative;
  z-index: 2;
  transform: translateX(-30%);
  opacity: 0;
  transition: all 1s linear;
}
.trip__trending-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 4rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ebeaef;
}
.trip__trending-content {
  padding: 3rem;
  border-bottom: 1px solid #ebeaef;
}
.trip__trending-form {
  padding: 1.5rem 2rem;
  background-color: #eef2f5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.trip__trending .search-input {
  border: 0;
  outline: none;
  background-color: inherit;
  flex-grow: 1;
}
.trip__trending .btn-submit {
  border: 0;
  outline: none;
  cursor: pointer;
}
.trip__trending-keys {
  padding: 0 3rem 0 1rem;
}
.trip__trending-key {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.trip__trending-key p {
  cursor: pointer;
}
.trip__popular {
  border-bottom: 1px solid #ebeaef;
}
.trip__popular-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 3rem 0 3rem 4rem;
  border-bottom: 1px solid #ebeaef;
}
.trip__popular-list {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
}
.trip__popular-tag {
  font-size: 1.2rem;
  padding: 0.8rem 1.3rem;
  background-color: #eef2f5;
  border-radius: 4px;
  cursor: pointer;
}
.trip__connect {
  padding: 3rem 0 3rem 4rem;
  border-bottom: 1px solid #ebeaef;
}
.trip__connect-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.6rem;
}
.trip__connect .social-item {
  margin: 0 2rem 0 0;
  color: transparent;
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
}
.trip__connect .social-item:hover, .trip__connect .social-item--active {
  opacity: 1;
}
.trip__newsletter {
  padding: 3rem 3rem 0 3rem;
}
.trip__newsletter-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 1rem;
  margin-bottom: 2.6rem;
}
.trip__newsletter-subtitle {
  font-size: 1.2rem;
  color: #667383;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.trip__newsletter-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: #eef2f5;
  border-radius: 5px;
  padding-left: 2rem;
}
.trip__newsletter-form .email-input {
  background-color: inherit;
  border: 0;
  outline: none;
}
.trip__newsletter-form .email-btn {
  border-radius: 5px;
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  border: 0;
  outline: none;
  padding: 1.5rem;
  cursor: pointer;
}
.trip__newsletter-form .email-btn i {
  font-size: 2.2rem;
  color: #FFF;
}
.trip__news {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin-bottom: 5rem;
  transform: translateX(30%);
  opacity: 0;
  transition: all 1s linear;
}
.trip__card {
  color: #303681;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.trip__card-img {
  height: 49rem;
  overflow: hidden;
  border-radius: inherit;
}
.trip__card-img img {
  width: 100%;
  height: 100%;
}
.trip__card-content {
  padding: 5rem 3rem 4rem 4rem;
  line-height: 1.5;
}
.trip__card-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-transform: capitalize;
}
.trip__card-desc {
  font-size: 1.5rem;
  color: #888;
  margin-bottom: 6rem;
}
.trip__card-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.trip__card .author__name {
  font-weight: 600;
  margin-right: 3rem;
}
.trip__card .author__name i {
  font-size: 2rem;
  margin-right: 1rem;
}
.trip.active .trip__title {
  opacity: 1;
}
.trip.active .trip__bar,
.trip.active .trip__news {
  opacity: 1;
  transform: translateX(0);
}

.footer {
  background-image: linear-gradient(to right, #ca3e64, #6c0ddf);
  padding: 12rem 0 3rem;
  color: #FFF;
  position: relative;
  z-index: 2;
}
.footer__hidden {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.footer__hidden .logo p span {
  user-select: none;
  font-size: 12rem;
  opacity: 0.2;
}
.footer__hidden .logo p span:first-child {
  display: inline-block;
  font-weight: 400;
  color: #ca3e64;
  background-color: #FFF;
  padding: 0 0.8rem;
  margin-right: 0.3rem;
}
.footer__heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .logo {
  margin-bottom: 3.5rem;
}
.footer .social i {
  margin: 0;
  margin-right: 2rem;
}
.footer__desc {
  max-width: 36rem;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.footer__item:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10rem;
}
.footer__list-item {
  margin-bottom: 2rem;
}
.footer__list-item:first-child {
  margin-bottom: 5rem;
}
.footer__list-item:first-child a {
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__list-item a {
  font-size: 1.2rem;
  color: #ebeaef;
}
.footer__ending {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer__ending-right span {
  margin-left: 3rem;
}

@media screen and (max-width: 1200px) {
  .banner {
    margin-bottom: 15rem;
  }
  .banner__title {
    font-size: 20rem;
  }

  .category {
    padding-bottom: 5rem;
  }
  .category__hidden {
    display: none;
  }

  .destination {
    padding: 8rem 0;
  }
  .destination__hidden {
    font-size: 16rem;
  }
  .destination__name {
    padding: 2.5rem 0;
  }

  .trip {
    padding: 5rem 0;
  }

  .footer {
    padding: 5rem 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .header__nav-item {
    margin-left: 5rem;
  }

  .banner__title {
    font-size: 14rem;
  }
  .banner__main-title {
    font-size: 6rem;
  }
  .banner__main-title p {
    margin-top: 1rem;
    font-size: 4rem;
  }
  .banner__symbol {
    padding: 1rem 2rem 1rem;
  }

  .category__cards {
    margin-bottom: 3rem;
  }
  .category__card-img {
    height: 35rem;
  }
  .category__card-content {
    padding: 2rem;
  }
  .category__card-title {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }
  .category__card-desc {
    margin-bottom: 2.5rem;
  }

  .destination {
    padding: 6rem 0;
  }
  .destination__hidden {
    font-size: 12rem;
  }

  .footer__heading {
    gap: 3rem;
  }
  .footer__item:last-child {
    gap: 4rem;
  }
  .footer__item:last-child .footer__list_item:first-child a {
    font-size: 1.2rem;
  }
  .footer__hidden {
    bottom: 5rem;
  }
  .footer__hidden .logo p span {
    font-size: 7rem;
  }
}
@media screen and (max-width: 767px) {
  .button button {
    padding: 1.6rem 2.2rem;
    font-size: 1.4rem;
  }

  .header__date {
    font-size: 1.2rem;
  }
  .header__nav-list {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to bottom right, #ca3e64, #6c0ddf);
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    z-index: 100;
    transition: transform 0.4s ease-in-out;
    transform: translateX(100%);
  }
  .header__nav-item {
    padding: 2.5rem 0;
    margin-left: 0;
    width: 100%;
  }
  .header__nav-link {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .header #bar-icon:checked ~ .header__nav-list {
    transform: translateX(0);
  }
  .header #bar-icon:checked ~ .header__overlay {
    display: block;
  }
  .header__icon {
    display: block;
  }
  .header__social .social-item {
    font-size: 1.6rem;
    margin-left: 1.2rem;
  }
  .header__bottom {
    padding: 1.5rem 0;
  }

  .banner {
    margin-bottom: 8rem;
  }
  .banner__title {
    font-size: 6.5rem;
  }
  .banner__main-title {
    font-size: 4rem;
  }
  .banner__main-title p {
    font-size: 2rem;
  }
  .banner__symbol {
    padding: 0.2rem 1.5rem 0.2rem;
  }
  .banner__symbol i {
    font-size: 1.4rem;
  }
  .banner__symbol h2 {
    font-size: 3rem;
  }
  .banner__button {
    padding: 0.5rem;
    bottom: -4rem;
  }
  .banner__button i {
    font-size: 3rem;
  }

  .category__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .category__list {
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .category__item {
    font-size: 1.2rem;
  }
  .category__cards {
    grid-template-columns: 1fr;
  }
  .category__card-img {
    height: 28rem;
  }
  .category__card-img img {
    width: 100%;
  }
  .category__card-title {
    font-size: 1.5rem;
  }
  .category__card-desc {
    font-size: 1.2rem;
  }
  .category__card-detail {
    font-size: 1.4rem;
  }

  .destination {
    padding: 6rem 0;
  }
  .destination__hidden {
    font-size: 6rem;
  }
  .destination__title {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .trip {
    padding: 3rem 0;
  }
  .trip__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .trip__body {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .trip__bar {
    padding: 2rem 0;
  }
  .trip__trending-title {
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  .trip__popular-title {
    padding: 2rem;
  }
  .trip__connect {
    padding: 2rem 2rem 2rem 3rem;
  }
  .trip__newsletter {
    padding-top: 2rem;
  }
  .trip__hidden {
    display: none;
  }
  .trip__card-img {
    height: 28rem;
  }
  .trip__card-content {
    padding: 2rem;
  }
  .trip__card-title {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }
  .trip__card-desc {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .trip__card-detail {
    font-size: 1.4rem;
  }

  .footer__heading {
    flex-direction: column;
  }
  .footer__list-item:first-child {
    margin-bottom: 1rem;
  }
  .footer__list-item:first-child a {
    font-size: 1.2rem;
  }
  .footer__item:last-child {
    flex-direction: column;
    gap: 2rem;
  }
  .footer__ending {
    font-size: 1.2rem;
    flex-direction: column;
    gap: 1rem;
  }
  .footer__ending-left {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4;
  }
  .footer__ending-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer__ending-right span {
    margin-left: 0;
  }
  .footer__hidden {
    width: 100%;
    bottom: 8rem;
  }
  .footer__hidden .logo p {
    width: fit-content;
    margin: 0 auto;
  }
  .footer__hidden .logo p span {
    font-size: 5rem;
  }
}
@media screen and (max-width: 413px) {
  .banner__main-title {
    font-size: 3rem;
  }

  .category__title {
    font-size: 2.8rem;
  }
  .category__list {
    gap: 1.2rem;
  }
  .category__card-detail {
    font-size: 1.2rem;
  }
  .category__card-detail .author__name i {
    font-size: 1.4rem;
  }

  .destination .slider-btn {
    padding: 0.5rem 1.5rem;
  }

  .trip__trending-key {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
